<a href="https://colab.research.google.com/github/Nasa19c/aipython/blob/main/2024_01_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data = 'John,30,Engineer\nAlice,25,Desinger\nBob,22,Artist'
lines = data.split('\n')

for line in lines:
  fields = line.split(',')
  print('Name:',fields[0],'Age:',fields[1],'Occupation:',fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Desinger
Name: Bob Age: 22 Occupation: Artist

In [4]:
words = ['hello','world', 'this','is']
sentence = ''.join(words)
print(sentence)

helloworldthisis

In [5]:
a = input()
print(a.split(' '))

dkjf djfk dfjk
['dkjf', 'djfk', 'dfjk']

In [7]:
b = ['geeks','for','gooks']
k = '-'.join(b)
print(k)

geeks-for-gooks

In [9]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [11]:
k = [x**2 for x in range(3,20,3)]
k

[9, 36, 81, 144, 225, 324]

In [13]:
input = [1,2,3,4,5]
[x**2 for x in input]

[1, 4, 9, 16, 25]

In [15]:
input = ['Seoul','New','London','Shanghai']
[x for x in input if 'S' in x]

['Seoul', 'Shanghai']

In [18]:
fruits = ['apple','banana','cherry']
for i,x in enumerate(fruits,1):
  print(i,x)

1 apple
2 banana
3 cherry

In [25]:
input = ['a','b','c']
for i,x in enumerate(input):
  print(f'fruit{i} name is {x}')

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [27]:
name = ['M','N','S','A']
rol_no = [4,1,3,2]

dict(zip(name,rol_no))

{'M': 4, 'N': 1, 'S': 3, 'A': 2}

In [29]:
name = ['M','R','C']
ages = [24,50,18]
for i in range(len(name)):
  print(i, name[i], ages[i])

0 M 24
1 R 50
2 C 18

In [30]:
add = lambda x,y: x+y
add(1,2)

3