<a href="https://colab.research.google.com/github/Nasa19c/aipython/blob/main/2024_01_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1
while(a<=3):
  print('안녕',a)
  a +=1

안녕 1
안녕 2
안녕 3

In [3]:
for i in range(4):
  print(i+1, 'Welcome')
  for i in range(3):
    print(i+1, 'Hello')
print('Done')

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [4]:
a = 1
while a<=4:
  print(a, 'Welcome')
  for i in range(3):
    print(i+1, 'Hello')
  a +=1
print('Done')

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [ ]:
a,b,c = map(int, input().split(' '))
if b> a>c or c> a >b:
  print(a)
elif a>b>c or c>b>a:
  print(b)
else:
  print(c)

In [ ]:
a,b,c = map(int, input().split(' '))
nums = [a,b,c]
nums.sort()

In [5]:
nums = [1,2,3]
nums[1] = None
nums

[1, None, 3]

In [6]:
num = (1,2,3)
num[1] = None
num

TypeError: ignored

In [7]:
score = [[1,2,3,4],
         [5,6,7,8],
         [9,10,11,12]]

for r in range(len(score)):
  for c in range(len(score[0])):
    print(score[r][c],end = ' ')
  print()

1 2 3 4
5 6 7 8
9 10 11 12

In [9]:
lst = []
while True:
    a = input('학생의 점수를 입력하세요.')
    if a.isdigit():
        lst.append(int(a))
    elif not a.isdigit():
        break
print(lst)
print('합계:', sum(lst))
print('인원수:', len(lst))
print('평균:', sum(lst)/len(lst))

학생의 점수를 입력하세요.90
[9, 0]