<a href="https://colab.research.google.com/github/Nasa19c/aipython/blob/main/2024_01_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
if a>5:
  print('a는 5보다 크다')

a는 5보다 크다

In [ ]:
def m_f(k):
  if 'm' in k:
    return 'Male'
  else:
    return 'Female'

In [ ]:
a = int(input())

if a >=90:
  print('A')
elif a>=80:
  print('B')
elif a >=70:
  print('C')
else:
  print('D')

12
D

In [ ]:
a = 10
b = 5

if a>5:
  if b<10:
    print('a는 5보다 크고 10보다 작다')

a는 5보다 크고 10보다 작다

In [ ]:
if a>5 and b<10:
  print('a는 5보다 크고 10보다 작다')

a는 5보다 크고 10보다 작다

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print(i, end = ' ')

1 2 3 4 5

In [ ]:
for i in range(1,10,2):
  print(i,end = ' ')

1 3 5 7 9

In [ ]:
for i in range(10):
  print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
def add(x,y):
  s = x+y
  a = s/2
  return s,a
h,a = add(10,20)
print('합:',h,'평균:',a)

합: 30 평균: 15.0

In [ ]:
# 본 예제에서는 if 조건문의 기본 활용법에 대해 살펴본다.
# 점수를 세 번 입력받고 평균을 계산한 후, 전역 상수와 비교하여
# 클 경우에는 메시지를 출력한다.
# 전역 상수 선언
HIGH_SCORE = 95
def main(): # 점수를 세 번 입력받아 각 변수에 할당한다.
  test1 = int(input('Enter the score for test 1: '))
  test2 = int(input('Enter the score for test 2: '))
  test3 = int(input('Enter the score for test 3: '))
  average = (test1 + test2 + test3) / 3
  print('The average score is', average)
  # 평균값이 HIGH_SCORE 보다 클 경우에 메시지 출력
  if average >= HIGH_SCORE:
    print('Congratulations!')
    print('That is a great average!')
main()

Enter the score for test 1: 87
Enter the score for test 2: 89
Enter the score for test 3: 34
The average score is 70.0

In [ ]:
BASE_HOURS = 40 # Base hours per week
OT_MULTIPLIER = 1.5 # Overtime multiplier

def main(): # 근무시간과 시간당 급여를 입력받아 각 변수에 할당한다.
  hours_worked = float(input('Enter the number of hours worked: '))
  pay_rate = float(input('Enter the hourly pay rate: '))
  # 총 급여를 계산하고 그 결과를 출력한다.
  if hours_worked > BASE_HOURS:
    calc_pay_with_OT(hours_worked, pay_rate)
  else:
    calc_regular_pay(hours_worked, pay_rate)

def calc_pay_with_OT(hours, rate):
  # 초과 근무시간을 계산한다.
  overtime_hours = hours - BASE_HOURS

 # 초과 근무시간의 급여를 계산한다.
  overtime_pay = overtime_hours * rate * OT_MULTIPLIER
 # 총 급여를 계산한다.
  gross_pay = BASE_HOURS * rate + overtime_pay
 # 총 급여를 출력한다.
  print('The gross pay is $', format(gross_pay, ',.2f'), sep='')

def calc_regular_pay(hours, rate): # 총 급여를 계산한다.
  gross_pay = hours * rate
  # 총 급여를 출력한다.
  print('The gross pay is $', format(gross_pay, ',.2f'), sep='')

# main 함수를 호출한다.
main()

Enter the number of hours worked: 12
Enter the hourly pay rate: 12
The gross pay is $144.00

In [ ]:
# 본 예제에서는 문자열을 입력받아서 비교하는 방법에 대해 알아보자.
# 문자열을 입력받고 변수에 할당한다.
password = input('Enter the password: ')
# 입력받은 문자열과 특정 문자열을 비교한 후 동일한 경우와 그렇지 않은 경우에 대해
# 알맞은 메시지를 출력한다.
if password == 'prospero':
  print('Password accepted.')
else:
  print('Sorry, that is the wrong password.')

Enter the password: 1234
Sorry, that is the wrong password.

In [ ]:
# 본 예제에서는 비교 연산자 < 로 문자열의 순서를 비교해보자.
# 이름 두 개를 문자열로 입력받고 각 변수에 할당한다.
name1 = input('Enter a name (last name first): ')
name2 = input('Enter another name (last name first): ')
# 입력받은 이름을 알파벳 순서에 따라 출력해보자.
print('Here are the names, listed alphabetically.')
if name1 < name2:
  print(name1)
  print(name2)
else:
  print(name2)
  print(name1)

Enter a name (last name first): djkf
Enter another name (last name first): djfk
Here are the names, listed alphabetically.
djfk
djkf

In [2]:
base = 8

for r in range(base):
  for c in range(r+1):
    print('*', end = '')
  print()

*
**
***
****
*****
******
*******
********

In [3]:
for r in range(base):
  for c in range(base-r):
    print('*',end = '')
  print()

********
*******
******
*****
****
***
**
*

In [9]:
for r in range(base+1):
  print('*'* (base- r))

********
*******
******
*****
****
***
**
*