<a href="https://colab.research.google.com/github/Nasa19c/aipython/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('부산대학교')
print('기초교육원')
print('컴퓨팅적 사고와 코딩')

부산대학교
기초교육원
컴퓨팅적 사고와 코딩

In [2]:
print("부산대학교")
print("기초교육원")
print("컴퓨팅적 사고와 코딩")

부산대학교
기초교육원
컴퓨팅적 사고와 코딩

In [3]:
print("""One
Two
Three""")

One
Two
Three

In [4]:
#화면에 여러 줄을
#출력하는 방법에 대한 코드입니다. print("부산대학교")
print("기초교육원")
print("컴퓨팅적 사고와 코딩")

print('부산대학교') #첫 번째 줄에 ‘부산대학교’를 출력합니다. print('기초교육원') #두 번째 줄에 ‘기초교육원’을 출력합니다. print('컴퓨팅적 사고와 코딩') #세 번째 줄에 ‘파이썬 프로그래밍 기초’를 출력합니다

기초교육원
컴퓨팅적 사고와 코딩
부산대학교

In [5]:
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [6]:
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실: ', Lab)

우리가 수업하는 실습실:  105

In [7]:
# 변수 두 개를 생성하고 값을 할당
my_id = 20150001
grade = 1
# 두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

나의 학번:
20150001
학년:
1

In [8]:
# 변수에 값을 할당하고 출력하는 예제입니다.
# dollars 변수에 값을 할당해봅시다.
dollars = 2.75
print('I have', dollars, 'in my account.')
# dollars 변수에 새로운 값을 할당해봅시다.
dollars = 99.95
print('But now I have', dollars, 'in my account!')

I have 2.75 in my account.
But now I have 99.95 in my account!